<nav>
    <ol class="breadcrumb navbar-righ">
        <li class="breadcrumb-item ml-auto">
            <%= link_to 'Buildings', buildings_path %>
        </li>
        <li class="breadcrumb-item">
            <%= link_to "Room - #{@room.title}", building_rooms_path(building_id: @room.building_id) %>
        </li>
         <li class="breadcrumb-item active">
            Schedule
        </li>
    </ol>
</nav>

<section>
    <h1 class="pt-2">
        <i class="fa fa-calendar-alt"></i> <%= @room.title %> - Schedule
    </h1>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered schedule">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">
                                Monday
                            </th>
                            <th class="text-center">
                                Tuesday
                            </th>
                            <th class="text-center">
                                Wednesday
                            </th>
                            <th class="text-center">
                                Thursday
                            </th>
                            <th class="text-center">
                                Friday
                            </th>
                            <th class="text-center">
                                Saturday
                            </th>
                            <th class="text-center">
                                Sunday
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if @room.lessons.length == 0 %>
                            <tr>
                                <td colspan="7">This room has no lessons planned for this week.</td>
                            </tr>
                        <% end %>
                        <% @room.lessons.includes(:teacher, :course).each do |lesson| %>
                            <tr>
                                <% 7.times do |i| %>
                                    <% if lesson.day-1 == i %>
                                        <td class="text-center">
                                            <%= lesson.course.title %>
                                            <br>
                                            <%= lesson.teacher.first_name %> <%= lesson.teacher.first_name %>
                                        </td>
                                    <% else %>
                                        <td></td>
                                    <% end %>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>