<nav>
    <ol class="breadcrumb navbar-righ">
        <li class="breadcrumb-item ml-auto">
            <%= link_to 'Dashboard - admin', admin_dashboards_path %>
        </li>
        <li class="breadcrumb-item active">
            Buildings
        </li>
    </ol>
</nav>

<section>
    <h1 class="pt-2">
        <i class="fa fa-gopuram"></i> Buildings
    </h1>
    <div class="table-responsive">
        <table class="table table-hover mt-1">
            <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Code</th>
                    <th>Number of rooms</th>
                    <th colspan="2">
                </tr>
            </thead>
            <tbody>
                <% @buildings.each do |building| %>
                    <tr>
                        <td><%= building.title %></td>
                        <td><%= building.code %></td>
                        <td><%= building.rooms.length %></td>
                        <td class="width-10"><a href="<%= admin_building_path(building) %>" class="btn btn-primary text-light"><i class="fas fa-edit"></i> Edit</a></td>
                        <td class="width-10"><a href="<%= admin_building_path(building) %>" data-confirm="Are you sure?" data-method="delete" class="btn btn-danger text-light"><i class="fas fa-trash-alt"></i> Delete</a></td>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th colspan="2">
                        <%= link_to new_admin_building_path, { class: "btn btn-success btn-block"} do %>
                            <i class="fas fa-plus"></i> Add
                        <% end %>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</section>