<nav>
    <ol class="breadcrumb navbar-righ">
        <li class="breadcrumb-item ml-auto">
            <%= link_to 'Dashboard', admin_dashboards_path %>
        </li>
        <li class="breadcrumb-item">
            <%= link_to 'Courses', admin_courses_path %>
        </li>
        <li class="breadcrumb-item active">
            <%= @course.title %>
        </li>
    </ol>
</nav>

<section>
    <div class="mr-auto ml-auto">
        <div class="row">
            <div class="col-md-3">
                <h1 class="pt-2">
                    <i class="fab fa-discourse"></i> Course detail
                </h1>
                <div class="card p-3">
                    <%= simple_form_for [:admin, @course] do |f| %>
                        <%= f.input :title %>
                        <%= f.input :code %>
                        <%= f.input :language %>
                        <%= f.input :study_type %>
                        <%= f.button :submit, class: "btn-primary" %>
                        <%= link_to "Cancel", admin_courses_path, { class: "btn btn-default"} %>
                    <% end %>
                </div>
            </div>

            <div class="col-md">

                <h1 class="pt-2">
                    <i class="fas fa-graduation-cap"></i> Students
                </h1>

                <div class="row">
                    <div class="col-md">
                        <div class="card p-3 mb-3">
                            <div class="table-responsive">
                                <table class="table table-hover mt-1">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Email</th>
                                            <th>Study type</th>
                                            <th colspan="2"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (@course.students.length == 0) %>
                                            <tr>
                                                <td colspan="5">Looks like there are no students in this course.</td>
                                            </tr>
                                        <% end %>
                                        <% @course.students.each do |student| %>
                                            <tr>
                                                <td><%= student.first_name %></td>
                                                <td><%= student.last_name %></td>
                                                <td><%= student.email %></td>
                                                <td><%= student.study_type %></td>
                                                <td class="width-10"><a href="<%= admin_student_path(student) %>" class="btn btn-primary text-light"><i class="fas fa-edit"></i> Edit</a></td>
                                                <td class="width-10"><a href="<%= admin_student_path(student) %>" data-confirm="Are you sure?" data-method="delete" class="btn btn-danger text-light"><i class="fas fa-trash-alt"></i> Delete</a></td>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th colspan="2">
                                                <%= link_to new_admin_student_path(prev_course_id: @course.id), { class: "btn btn-success btn-block"} do %>
                                                    <i class="fas fa-plus"></i> Add
                                                <% end %>
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <h1 class="pt-2">
                    <i class="fas fa-chalkboard-teacher"></i> Teachers
                </h1>
                <div class="row">
                    <div class="col-md">
                        <div class="card p-3">
                            <div class="table-responsive">
                                <table class="table table-hover mt-1">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Title</th>
                                            <th>Code</th>
                                            <th>Number of rooms</th>
                                            <th colspan="2"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (@course.teachers.length == 0) %>
                                            <tr>
                                                <td colspan="5">Looks like there are no teachers in this course.</td>
                                            </tr>
                                        <% end %>
                                        <% @course.teachers.each do |teacher| %>
                                            <tr>
                                                <td><%= teacher.first_name %></td>
                                                <td><%= teacher.last_name %></td>
                                                <td><%= teacher.email %></td>
                                                <td class="width-10"><a href="<%= admin_teacher_path(teacher) %>" class="btn btn-primary text-light"><i class="fas fa-edit"></i> Edit</a></td>
                                                <td class="width-10"><a href="<%= admin_teacher_path(teacher) %>" data-confirm="Are you sure?" data-method="delete" class="btn btn-danger text-light"><i class="fas fa-trash-alt"></i> Delete</a></td>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th colspan="2">
                                                <%= link_to new_admin_teacher_path(prev_course_id: @course.id), { class: "btn btn-success btn-block"} do %>
                                                    <i class="fas fa-plus"></i> Add
                                                <% end %>
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>